:root {
   --color-white: #ffffff;
   --color-black0-1: #1F1C1D;
   --сolor-black-5: #151313;
   --color-brown-1: #DDD0C3;
   --color-brown-5: #A07B50;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black0-1);
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;

}

/* main-header */

.main-header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto 

}

/* hero */

.hero {
    width: 1160px;
    margin: 0 auto;
}

.information__main-heading {
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    line-height: 60px;
    
    color: var(--color-white);

    padding: 0;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

/* общие */

.heading {
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;

    color: var(--color-white);

    padding: 0;
    text-align: center
}

.desc {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;

    color: var(--color-brown-5);

    padding: 0;
    text-align: center
}

.button {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 15px;

    color: var(--color-white);

    padding: 0;
}


/* pets */

.tabs {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;

    color: var(--color-white);

    padding: 0;
}

/* breed-features */

.circle {
    width: 519px;
    height: 519px;
    border-radius: 50%;
    border: solid var(--color-brown-5) 1px;

    background-color: var(--сolor-black-5);

    padding: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle__img {
    position: absolute;
}

.list-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-features__item {
    list-style: none;
    
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;

    color: var(--color-white);

    padding: 0;
}


/* advantages */

.advantages-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.advantages__description {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 27px;

    color: var(--color-white);

    padding: 0;
}

/* care */

.care-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.care-content__heading {
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;

    color: var(--color-5);

    padding: 0;
}

.care-content__info {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 23px;

    color: var(--color-white);

    padding: 0;
}

/* our-team */

.slider {
    display: flex;
}

.slider-info__heading {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;

    color: var(--color-brown-5);

    padding: 0;
}

.slider-info__desc {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;

    color: var(--color-brown-5);

    padding: 0;
}

.slider-info__description {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;

    color: var(--color-white);

    padding: 0;
}

.slider-info-social {
    display: flex;
}

.slider-info-social__item {
    list-style: none;

    padding: 0;
}

/* question-answer */

.question-answer__question {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 17px;

    color: var(--color-brown-1);

    padding: 0;
}

.question-answer__text {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;

    color: var(--color-brown-1);

    padding: 0;
}

/* reviews */

.reviews-block {
    display: flex;
}

.reviews-content-info__heading {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;

    color: var(--color-white);

    padding: 0;
}

.reviews-content-info__text {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 23px;

    color: var(--color-white);

    padding: 0;
}

.reviews-content-info__time {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;

    color: var(--color-brown-5);

    padding: 0;
}

.reviews-content-info__social-item {
    list-style: none;
}

/* main-footer */


.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.main-header__logo {

}

.main-footer__social {
    display: flex;
}

.main-footer__social-item {
    list-style: none;
    
    padding: 0;
}

.main-footer__address {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;

    color: var(--color-brown-1);

    padding: 0;
}

.main-footer__phone {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;

    color: var(--color-brown-1);

    padding: 0;
}